{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                 <!-- Sidebar -->
                  <nav
                       id="sidebarMenu"
                       class="collapse d-lg-block sidebar collapse bg-white"
                       >
                    <div class="position-sticky">
                      <div class="list-group list-group-flush mx-3 mt-4">
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple active"
                           >
                          <i class="fas fa-chart-area fa-fw me-3"></i
                            ><span>Selectively share your experiences</span>
                        </a>
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple"
                           ><i class="fas fa-lock fa-fw me-3"></i><span>Forums you're part of (customized and public)</span></a
                          >
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple"
                           ><i class="fas fa-chart-line fa-fw me-3"></i
                          ><span>Messages</span></a
                          >
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple"
                           >
                          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Safety & Privacy</span>
                        </a>
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple"
                           ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Moderation</span></a
                          >
                        <a
                           href="#"
                           class="list-group-item list-group-item-action py-2 ripple"
                           ><i class="fas fa-globe fa-fw me-3"></i
                          ><span>Resources</span></a
                          >
                        
                      </div>
                    </div>
                  </nav>
                  <!-- Sidebar -->
            </div>

            <div class="landing-description col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <h4> Selectively share your experiences to a customized audience.</h4>
                 Disclosing your experience about relationships with faculty can be anxiety-inducing. Below, you can write what you want to share to an audience you customize based on types of experiences, identities that are important to you, and name(s) of faculty members you want to associate (or avoid).
                <div class="audience-customize">
                    <h5>Keywords describing your experience</h5>
                    <div>
                        <span class="advising-experience">authorship issue</span>
                        <span class="advising-experience">labmate dynamic</span>
                        <span class="advising-experience">microaggression</span>
                        <span class="advising-experience">racism</span>
                        <span class="advising-experience">sexism</span>
                        <span class="advising-experience">gaslighting</span>
                        <span class="advising-experience">ghosting</span>
                        <span class="advising-experience">mishandling of credit</span>



                    </div>
                </div>
                <div class="audience-customize">
                    <h5>Identity</h5>
                    <div>
                        Gender
                    </div>
                    <div>
                        Race
                    </div>
                    <div>
                        International student
                    </div>
                    <div>
                        Disability
                    </div>
                </div>
                <div class="audience-customize">
                    <h5>Faculty name(s)</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


