
body {
    font-weight: 240;
    /*font-family: 'Dejavu Sans', 'Arial', 'Verdana', sans-serif;*/
}

h1 {
	font-size: 50px;
	font-weight: 300;
}

h2 {
	font-size: 45px;
	font-weight: 200;
}

h3 {
	font-size: 40px;
	font-weight: 100;
}

b {
	font-weight: 400;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-section p {
	font-weight: 200;
	font-size: 15px;
}

.intro-section .section-description{
	background: #20bfb4;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
}

.intro-section .section-description a {
	color: #dcffd5;
	font-weight: 300;
	font-size: 20px;
}

.navbar-nav li {
	padding-left: 20px;
}

#moa-wave {
	width: 40px; 
}

.selected {
    font-size: 14px;
    background-color: #007bff;
    color: rgb(241, 241, 241);
    cursor: pointer;
    border-color: #007bff;
    border-radius: 0.4rem;
    padding: 5px 10px 5px 10px;
}

.tab-selected {
	background-color: #007bff;
    color: rgb(241, 241, 241);
}

button:hover {
	background-color: #004085;
	color: white;
	cursor: pointer;
}

.note {
    box-shadow: 0 2px 6px 0 rgba(22, 142, 228, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
}

.author {
	margin: 2px;
	color: rgb(42, 105, 164);
	font-size: 14px;
}

.datetime {
	font-size: 13px;
	color: #808080;
}

.title {
	font-size: 20px;
	font-weight: 500;
}

.phd_year input {
	margin-left: 5px;
	margin-right: 5px;
}

.tag {
    font-size: 13px;
    background-color: rgba(114, 0, 255, 0.1);
    color: black;
    cursor: pointer;
    border-color: #808080;
    border-radius: 0.4rem;
    padding: 3px 4px 3px 4px;
    margin: 2px;
}

.tag:hover {
	background-color: rgba(114, 0, 255, 0.2);
}

.selected {
	background-color: #a900ff;
	color: rgb(241, 241, 241);
}

.reply-toggle {
	font-size: 13px;
	font-weight: 400;
	padding: 0px 2px 0px 2px;
}

button .reply-toggle:hover {
	cursor: pointer;
}

.reply-notebox {
	margin-top: 3px;
	margin-bottom: 3px;
}

.reply-cancel {
	padding: 0.5px 2px 0.5px 2px;
	font-size: 13px;
}

.reply-send {
	padding: 0.5px 2px 0.5px 2px;
	font-size: 13px;
}

.reply-note-text {
	width: 80%;
}

.note-consent-boundary {
	font-size: 14px;
}

.note-consent-boundary-row {
	margin-left: 15px;
}