
body {
    font-weight: 240;
    /*font-family: 'Dejavu Sans', 'Arial', 'Verdana', sans-serif;*/
}

h1 {
	font-size: 50px;
	font-weight: 300;
}

h2 {
	font-size: 45px;
	font-weight: 200;
}

h3 {
	font-size: 40px;
	font-weight: 100;
}

b {
	font-weight: 400;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro-section p {
	font-weight: 200;
	font-size: 15px;
}

.intro-section .section-description{
	background: #20bfb4;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
}

.intro-section .section-description a {
	color: #dcffd5;
	font-weight: 300;
	font-size: 20px;
}

.navbar-nav li {
	padding-left: 20px;
}

#moa-wave {
	width: 40px; 
}

