{% load static %}
<div id="note-{{ note.id }}">
  <div class="container note" style="margin-left: {{ note.level }}em;">
    <input type="hidden" id="note_id" name="note_id" value="{{ note.id }}">
    <input type="hidden" id="note_level" name="note_level" value="{{ note.level }}">
    <div class="author">
      {{ note.author }} 
    </div>
    {% if note.author == user %}
      <div class="note-consent-render">
        only visible to people who identified as:
        {% if note.international_student %} <span class="tag note-consent-render-tag">international student</span> {% endif %}
        {% if note.first_gen %} <span class="tag note-consent-render-tag">first-gen student</span> {% endif %}
        {% for year in note.phd_year %}
          {% if year != "" %}
            <span class="tag note-consent-render-tag">{{ year }} year</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div>
      {{ note.text }} 
    </div>

    <span class="datetime"> {{ note.created_at }} </span>
    <button role="button" class="btn btn-light reply-toggle"> reply </button>
    
    <div class="reply-notebox" id="reply-notebox-{{ note.id }}" style="display: none;">
      <textarea class="reply-note-text" id="" type="text" name="" value="" rows="2"></textarea>
      <button role="button" class="btn btn-light reply-cancel"> cancel </button>
      <button role="button" class="btn btn-light reply-send"> send </button>
      {% include "note_consent_boundary.html"%}
    </div>
      
  </div>

  {% for reply in note.replies.all %}
    {% include 'branch_note.html' with note=reply %}
  {% endfor %}
</div>

