{% extends "_base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                     <!-- Sidebar -->
                      <nav
                           id="sidebarMenu"
                           class="collapse d-lg-block sidebar collapse bg-white"
                           >
                        <div class="position-sticky">
                          <div class="list-group list-group-flush mx-3 mt-4">
                            <a
                               href="{% url 'write' %}"
                               class="list-group-item list-group-item-action py-2 ripple"
                               >
                              <i class="fas fa-chart-area fa-fw me-3"></i
                                ><span>write your experience</span>
                            </a>
                            <a
                               href="{% url 'experiences' %}"
                               class="list-group-item list-group-item-action py-2 ripple"
                               ><i class="fas fa-lock fa-fw me-3"></i><span>experiences</span></a
                              >
                            <a
                               href="{% url 'account_consent_boundary' %}"
                               class="list-group-item list-group-item-action py-2 ripple"
                               >
                              <i class="fas fa-chart-pie fa-fw me-3"></i><span>your consent & settings</span>
                            </a>
                            <a
                               href="#"
                               class="list-group-item list-group-item-action py-2 ripple"
                               ><i class="fas fa-chart-bar fa-fw me-3"></i><span>moderation</span></a
                              >
                            <a
                               href="#"
                               class="list-group-item list-group-item-action py-2 ripple"
                               ><i class="fas fa-globe fa-fw me-3"></i
                              ><span>resources</span></a
                              >
                            
                          </div>
                        </div>
                      </nav>
                      <!-- Sidebar -->
                </div>

                <div class="landing-description col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <p>Hi {{ user.email }}! </p>
                    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
                </div>
            </div>
        </div>
    {% else %}
            <p>You are not logged in </p>
            <a href="{% url 'account_login' %}">Log In</a>
            <br>
            <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}





