{% extends "_base_with_nav.html" %}
{% load static %}

{% block main %}

  {% block scripts %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');

    $(document).ready(function() {

      $("#notes")[0].classList.add("tab-selected");

        
    });

  </script>
  {% endblock %}

  {% for note in note_list %}
    <div>
      <h4><a href="/note?id={{ note.id }}"> {{ note.title}} </a></h4>
      {% for t in note.topics.all %}
        <button class="tag advising-experience">{{ t.name }}</button>
      {% endfor %}
      <div class="datetime">
        {{ note.created_at }}
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}






