{% load static %}

<div class="container note-consent-boundary">
    <b>I want to ONLY show this note to people in this conversation who...</b>
    <div>
    <form action="set/" method="post">
        {% csrf_token %}
        <div class="note-consent-boundary-row">
            <label for="phd_year">{{ note_form.phd_year.label }}</label>
            <fieldset>
                <label for="id_phd_year_0"><input class="phd_year" type="checkbox" name="phd_year" value="1" id="id_phd_year_0" {% if '1' in phd_year_boundary %} checked {% endif %}>1</label>
                <label for="id_phd_year_1"><input class="phd_year" type="checkbox" name="phd_year" value="2" id="id_phd_year_1" {% if '2' in phd_year_boundary %} checked {% endif %}>2</label>
                <label for="id_phd_year_2"><input class="phd_year" type="checkbox" name="phd_year" value="3" id="id_phd_year_2" {% if '3' in phd_year_boundary %} checked {% endif %}>3</label>
                <label for="id_phd_year_3"><input class="phd_year" type="checkbox" name="phd_year" value="4" id="id_phd_year_3" {% if '4' in phd_year_boundary %} checked {% endif %}>4</label>
                <label for="id_phd_year_4"><input class="phd_year" type="checkbox" name="phd_year" value="5" id="id_phd_year_4" {% if '5' in phd_year_boundary %} checked {% endif %}>5</label>
                <label for="id_phd_year_5"><input class="phd_year" type="checkbox" name="phd_year" value="6" id="id_phd_year_5" {% if '6' in phd_year_boundary %} checked {% endif %}>6</label>
                <label for="id_phd_year_6"><input class="phd_year" type="checkbox" name="phd_year" value="7" id="id_phd_year_6" {% if '7' in phd_year_boundary %} checked {% endif %}>7</label>
                <label for="id_phd_year_7"><input class="phd_year" type="checkbox" name="phd_year" value="8" id="id_phd_year_7" {% if '8' in phd_year_boundary %} checked {% endif %}>8</label>
            </fieldset>
        </div>
        
        <div class="note-consent-boundary-row">
            <label for="international_student">{{ note_form.international_student.label }}</label>
            <input id="international_student" type="checkbox" name="international_student" {% if international_student %} checked {% endif %}/>
        </div>

        <div class="note-consent-boundary-row">
            <label for="first_gen">{{ note_form.first_gen.label }}</label>
            <input id="first_gen" type="checkbox" name="first_gen" {% if first_gen %} checked {% endif %}/>
        </div>

        <div class="note-consent-boundary-row">
            who have experienced the following in their advising relationship(s)
            <br>
            {% for tag in tag_list %}
            <button class="tag advising-experience">{{ tag.keyword }}</button>
            {% endfor %}
        </div>
    </form>
    </div>
</div>
     