{% extends "_base_with_nav.html" %}
{% load static %}

{% block main %}

<div>
Keep in mind that again, *everyone's consent boundaries are different*. Because of this, you can only see a message if your experiences, identities, and/or submitted faculty name(s) align with the sender's consent boundaries in terms of information sharing. *In short, everyone will likely see different sets of conversations and messages*.
</div>

<br>

<div class="container" id="note-{{ seed_note_id }}">
  {% include "seed_note.html" %}

  {% for note in branch_notes %}
    {% include "branch_note.html" with note=note %}
  {% endfor %}

</div>

<div class="container">
  Leave your note -- while making sure to choose your consent boundary.
  <div class="reply-notebox">
    <textarea class="form-control reply-note-text" id="description" type="text" name="description" value="" rows="3"></textarea>
  </div>

  {% include "note_consent_boundary.html" %}

  <input type="submit" value="send" id="note-submit">
</div>

<div id="consentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h5>Set consent boundary for this note.</h5>
    {% include "note_consent_boundary.html"%}
  </div>
</div>


{{ seed_note_id|json_script:"seedNoteID" }}
{{ user.username|json_script:"username" }}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
      var modal = document.getElementById("consentModal");
      var btn = document.getElementById("modalBtn");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

      $(document).ready(function() {
        $("#notes")[0].classList.add("tab-selected");

        const seedNoteID = JSON.parse(document.getElementById('seedNoteID').textContent);
        const userName = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/note/'
            + seedNoteID
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("---chatSocket on message---")

            $.ajax({
              url: '/branch_note_view/' + data.noteID + '/', // Replace with the actual URL of the branch_note.html template
              type: 'GET',
              success: function(response) {
                // Append the fetched HTML to the note container
                document.querySelector('#note-' + data.parentID).innerHTML += response;
              },
              error: function(error) {
                console.error('Failed to fetch branch note:', error);
              }
            });
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        function getConsentBoundary(noteDom) {
          var phd_year = [];
          for(var i = 0; i < 8; i++) {
            if(noteDom.querySelector('#id_phd_year_' + i).checked)
              phd_year.push(i+1);
          }
          var first_gen = noteDom.querySelector('#first_gen').checked;
          var international_student = noteDom.querySelector('#international_student').checked;
          var advising_experience = [];
          var tags = noteDom.querySelectorAll('.advising-experience');
          tags.forEach(tag => {
            if(tag.classList.contains('selected'))
              advising_experience.push(tag.innerText);
          });

          var data = {
                      'phd_year': phd_year.toString(),
                      'first_gen': first_gen,
                      'international_student': international_student,
                      'advising_experience': advising_experience.toString(),
                    };
          
          console.log(data);
          return data;
        }

        function submitNote(parentID, parentLevel, noteDom) {
          var date = new Date();
          var note = noteDom.querySelector('.reply-note-text').value;
          var consentBoundary = getConsentBoundary(noteDom);
          console.log(consentBoundary);
    
          noteDom.querySelector('.reply-note-text').value = '';

          $.ajax({
            type: 'POST',
            traditional: true,
            mode: 'same-origin',
            headers: {'X-CSRFToken': csrftoken},
            url: "send-note/",
            data: {
              'note': note,
              'seed_id': seedNoteID,
              'parent_id': parentID,
              'user': userName,
              'created_at': date.toDateString(),
              'phd_year': consentBoundary['phd_year'],
              'international_student': consentBoundary['international_student'],
              'first_gen': consentBoundary['first_gen'],
              'advising_experience': consentBoundary['advising_experience']
            },
            success: function(res){
              console.log('success!');
              console.log(res);
              chatSocket.send(JSON.stringify({
                  'noteID': res.noteID,
                  'note': note,
                  'seedID': seedNoteID,
                  'user': userName,
                  'createdAt': date.toLocaleString('en-us', { month:"long", day:"numeric", year:"numeric", 
                                                              hour:"numeric", minute:"numeric"}),
                  'parentID': parentID,
                  'parentLevel': parentLevel,
                  'phdYear': consentBoundary['phd_year'],
                  'internationalStudent': consentBoundary['international_student'],
                  'firstGen': consentBoundary['first_gen'],
                  'advisingExperience': consentBoundary['advising_experience']
              }));
            }
          });
        }

        $('#note-submit').click(function(event) {
          console.log(this.parentElement);
          submitNote(seedNoteID, 0, this.parentElement);
        });

        // Code for toggling the reply box for each note
        $('.reply-toggle').click(function(event) {
          if(this.parentElement.querySelector(".reply-notebox").style.display == 'block')
            this.parentElement.querySelector(".reply-notebox").style.display = 'none';
          else
            this.parentElement.querySelector(".reply-notebox").style.display = 'block';
        });
  
        $('.reply-send').click(function(event) {
          var parentID = this.parentElement.parentElement.querySelector('#note_id').value;
          var parentLevel = this.parentElement.parentElement.querySelector('#note_level').value;
          submitNote(parentID, parentLevel, this.parentElement);
          this.parentElement.parentElement.querySelector(".reply-notebox").style.display = 'none';
        });
  
        $('.reply-cancel').click(function(event) {
          if(this.parentElement.style.display == 'block')
            this.parentElement.style.display = 'none';
            this.parentElement.querySelector('.reply-note-text').value = '';
        });
        
        $(".advising-experience").click(function() {
          console.log('clicked');
          console.log($(this));
          $(this).toggleClass("selected");
        });

      });

        

    </script>

  {% endblock %}

{% endblock %}