{% extends "_base_with_nav.html" %}
{% load static %}

{% block main %}

<div>
Keep in mind that again, *everyone's consent boundaries are different*. Because of this, you can only see a message if your experiences, identities, and/or submitted faculty name(s) align with the sender's consent boundaries in terms of information sharing. *In short, everyone will likely see different sets of conversations and messages*.
</div>

<br>

<div class="container" id="note-{{ seed_note_id }}">
  {% include "seed_note.html" %}

  {% for note in branch_notes %}
    {% include "branch_note.html" with note=note %}
  {% endfor %}

</div>

{{ seed_note_id|json_script:"seedNoteID" }}
{{ user.username|json_script:"username" }}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

      $(document).ready(function() {
        $("#notes")[0].classList.add("tab-selected");

        const seedNoteID = JSON.parse(document.getElementById('seedNoteID').textContent);
        const userName = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/note/'
            + seedNoteID
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var new_note_html = '<div class="container note" style="margin-left:' + data.level + 'em;">'
                                + '<div class="author">' + data.user + "</div>" 
                                + '<div>' + data.note + '</div>'
                                + '<div><span class="datetime">' + data.createdAt + '</span>'
                                + '<span class="reply-toggle"> reply </span></div>';
            document.querySelector('#note-' + data.parentID).innerHTML += new_note_html;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        function submitNote(parentID, parentLevel, noteInputDom) {
          var date = new Date();
          var note = noteInputDom.value;
          console.log(note);
          chatSocket.send(JSON.stringify({
              'note': note,
              'user': userName,
              'createdAt': date.toLocaleString('en-us', { month:"long", day:"numeric", year:"numeric", 
                                                          hour:"numeric", minute:"numeric"}),
              'parentID': parentID,
              'parentLevel': parentLevel,
          }));

          noteInputDom.value = '';

          $.ajax({
            type: 'POST',
            mode: 'same-origin',
            headers: {'X-CSRFToken': csrftoken},
            url: "send-note/",
            data: {
              'note': note,
              'seed_id': seedNoteID,
              'parent_id': parentID,
              'user': userName,
              'created_at': date.toDateString(),
            },
            success: function(res){
              console.log('success!');
            }
          });
        }

        $('#note-submit').click(function(event) {
          var noteInputDom = $('#description')[0];
          submitNote(seedNoteID, 0, noteInputDom);
        });

        // Code for toggling the reply box for each note
        $('.reply-toggle').click(function(event) {
          if(this.parentElement.querySelector(".reply-notebox").style.display == 'block')
            this.parentElement.querySelector(".reply-notebox").style.display = 'none';
          else
            this.parentElement.querySelector(".reply-notebox").style.display = 'block';
        });
  
        $('.reply-send').click(function(event) {
          console.log('click submit');
          var parentID = this.parentElement.parentElement.querySelector('#note_id').value;
          var parentLevel = this.parentElement.parentElement.querySelector('#note_level').value;
          console.log(parentID, parentLevel);
          var noteInputDom = this.parentElement.querySelector('.reply-note-text');
          submitNote(parentID, parentLevel, noteInputDom)
        });
  
        $('.reply-cancel').click(function(event) {
          if(this.parentElement.style.display == 'block')
            this.parentElement.style.display = 'none';
            this.parentElement.querySelector('.reply-note-text').value = '';
        });
      

      });

        

    </script>

  {% endblock %}

  <div class="container">
    Participate in the conversation -- while making sure to choose your boundary.
    <div class="">
      <textarea class="form-control" id="description" type="text" name="description" value="" rows="3"></textarea>
    </div>

    {% include "note_consent_boundary.html" %}

    <input type="submit" value="send" id="note-submit">
  </div>
{% endblock %}