{% extends "_base_with_nav.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
  
    <div>
      <h4> Share your note about PhD advising relationships based on your consent boundaries.</h4>
      Disclosing your thoughts or/and experiences about relationships with faculty can be anxiety-inducing. Below, you can write what you want to share to an audience you customize based on types of experiences, identities that are important to you, and name(s) of faculty members you want to associate (or avoid).
      Your message will only appear to those who meet the criteria that you set.
    </div>
    <br>
    <!-- example -->
    <!-- <form action="/your-name/" method="post">
      {% csrf_token %}
      <label for="your_name">Your name: </label>
      <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
      <input type="submit" value="OK">
    </form> -->

    
      <form action="send-seed-note/" method="post">
        {% csrf_token %}
        <div>
          <h5>1. Write your note</h5>
          <label for="title">Title </label>
          <textarea class="form-control" id="title" type="text" name="title" value="" rows="1"></textarea>
          <label for="description">Description </label>
          <textarea class="form-control" id="description" type="text" name="description" value="" rows="3"></textarea>
        </div>

        <div>
          <label for="tags">Tags to show others </label>
          <br>
          {% for topic in all_topic_tags %}
            <span class="tag advising-experience">{{ topic.name }}</span>
          {% endfor %}
        </div>
        
        <br>
        <br>
        <!-- <input type="submit" value="submit">
      </form> -->

        <div class="audience-customize experience">
          <h5>2. Set consent boundary for this note</h5>
          <br>
          <!-- Feel free to customize your consent boundary for this individual experience. -->
          <h6>I want to ONLY show this note to people...</h6>
          <br>
          <div>
            <!-- <form action="set/" method="post"> -->
              <!-- {% csrf_token %} -->
              <label for="phd_year">{{ consent_form.phd_year.label }}</label>
              <br>
              <fieldset class="phd_year">
                {% for x, y in consent_form.fields.phd_year.choices %}
                  <input type="checkbox" name="phd_year" id="id_phd_year_{{ x }}" value="{{ x }}" {% if y in phd_year_boundary %} checked {% endif %}>{{ y }}
                  <label for="id_phd_year_{{ x }}"></label>
                {% endfor %}
              </fieldset>
                      
              <br>

              <label for="international_student">{{ consent_form.international_student.label }}</label>
              <input id="international_student" type="checkbox" name="international_student" {% if international_student %} checked {% endif %}/>
            
              <br>

              <label for="first_gen">{{ consent_form.first_gen.label }}</label>
              <input id="first_gen" type="checkbox" name="first_gen" {% if first_gen %} checked {% endif %}/>

              <br>
              <br>

              who have experienced the following in their advising relationship(s)
              <br>
              <fieldset class="experience_tags"></fieldset>
				        {% for x, y in consent_form.fields.experience_tags.choices %}
					        <input type="checkbox" name="experience_tags" id="id_experience_tags_{{ x }}" value="{{ x }}" {% if y in experience_tags %} checked {% endif %}>{{ y }}
					        <label for="id_experience_tags_{{ x }}"></label>
				        {% endfor %}
		  	      </fieldset>
              <br>
              <br>
              
              <label for="other_info">other information you would like the moderator to reference</label>
              <textarea class="form-control" id="other_info" type="text" name="other_info" value="" rows="3">{{ other_info }}</textarea>      
              <br>
              <input type="submit" value="submit">
          </div>
        </div>
      </form>
    
    <br>


   

    {% block scripts %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
      console.log('hi');
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      $(document).ready(function() {

        $("#write")[0].classList.add("tab-selected");

        $(".advising-experience").click(function() {
          console.log('clicked');
          console.log($(this));
          $(this).toggleClass("selected");
        });

          
      });

    </script>
    {% endblock %}

{% endblock %}





