{% extends "_base_with_nav.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
  
    <div>
      <h4> Create a covert to share your experience to a customized audience.</h4>
      Disclosing your experience about relationships with faculty can be anxiety-inducing. Below, you can write what you want to share to an audience you customize based on types of experiences, identities that are important to you, and name(s) of faculty members you want to associate (or avoid).
    </div>
    <br>
    <div>
      <h5>Write your experience</h5>
      <div>
          <label for="experienceTitle">Title</label>
          <textarea class="form-control" id="experienceTitle" rows="1"></textarea>
      </div>
      <div>
          <label for="experienceText">Experience</label>
          <textarea class="form-control" id="experienceText" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="audience-customize experience">
        <h5>Keywords describing your experience</h5>
        <div>
          {% for tag in tag_list %}
            <button class="tag">{{ tag.keyword}}</button>
          {% endfor %}
        </div>
        <br>
        <div>
          <label for="tag-search">Search keywords:</label>
          <input type="search" id="tag-search" name="q" />
          <button>Search</button>
        </div>
    </div>
    <br>
    <div class="audience-customize identity">
        <h5>Identity</h5>
        {% for identity in identity_list %}
          <button class="tag">{{ identity.category}}</button>
        {% endfor %}
    </div>
    <br>
  <!--   <div class="audience-customize">
        <h5>Fa    tculty name(s)</h5>
    </div> -->

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit" id="submitExperience">Submit</button>
    </form>


  {% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
      function gatherSelectedTags() {
        tags = []
        $(".tag").each(function() {
          if($(this).hasClass("selected")) {
            tags.push($(this).text());
          }
        })
        return tags
      }

      function submitExperience() {
        var title = $("#experienceTitle").val();
        var description = $("#experienceText").val();
        var tags = gatherSelectedTags();
        console.log("----")
        console.log(JSON.stringify(tags))
        $.ajax({
          url: "submit_experience",
          data: {
            'title': title,
            'description': description,
            'tags': JSON.stringify(tags)
          },
          success: function(res){
          }
        });
      }

      $('#submitExperience').click(function(event) {
          submitExperience();
          return false;
      });

      $('.tag').click(function(e) {
        if($(this).hasClass("selected")) {
          $(this).removeClass("selected");
        } else {
          $(this).addClass("selected");
        }
      })

    </script>
  {% endblock %}

{% endblock %}





