asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.16.0
crispy-bootstrap5==2024.2
cryptography==42.0.5
Django==4.2.11
django-crispy-forms==2.1
django-mysql==4.2.0
mysql-client==0.0.1
pycparser==2.21
PyMySQL==1.1.0
sqlparse==0.4.1
typing_extensions==4.10.0
